html {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pagetitle{
    margin: 10% 43% 0px 43%;
}

.filtercontainer {
    display: inline-block;
    width: 33.33%;
    height: 50px;
    margin: 2% 33.33% 1% 33.33%;
}
.filteroption {
    display: inline-block;
    float: left;
    width: 40%;
    height: 80%;
    margin: 5px 4% 5px 4%;
}
.resultscontainer {
    width: 60%;
    height: 75%;
    margin: 1% 20% 0% 20%;
}
.indivdualresult {
    width: 90%;
    height: 100%;
    margin: 5% 5% 5% 5%;
}
.blackborder {
    border: 1px solid black;
    border-radius: 5px;
}
.gifImage {
    width: 200px;
    height: 200px;
    margin-left: 38%;
    cursor:pointer;
}
.filterimage {
    width: 100%;
    height: 100%;
}
.pagingArrows {
    width: 120px;
    height: 75%;
    margin: 1% 40% 5% 47%;
    color: black;
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
}
.pagearrow{
    margin-left: 5px;
    margin-right: 5px;
}
#leftarrow {
    color: grey;
}
.gifData {
    visibility: hidden;
    height: 0px;
    width: 200px;
    margin-left: 38%;
}
.gifDataTable {
    width: 100%;
    border-spacing: 0px;
    height: 100%;
    table-layout: fixed;
}
.gifDataTableHeader {
    border: 1px solid black;
    width: 50%;
    height: 25%;
    font-weight: normal;
}
.gifDataTableData {
    border: 1px solid black;
    height: 25%;
    width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
